body{
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("logo.svg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: left;
  background-repeat: no-repeat;
  background-size: 10%;
  position: relative;
}
.container{
    margin: auto;
  width: 50%;
  height: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}

.NoticeBoard{
    text-align: left;
}
textarea.NoticeBoard{
    font-size: 80%;
}
.buttonGroup{
    display: block!important;
}
button{
    margin-top: 1em;
    margin-bottom: 1em;
    color: black!important;
}
.rightTop{
    text-align:right;
}
.mainBody{
    padding-top:7em;
    padding-bottom: 1em;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }